language: c
sudo: required
dist: trusty
os:
  - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - clang
      - python-virtualenv
      - python3.4
      - ninja
      - libglib2.0-dev
      - libgee-dev
      - libgtk-3-dev
      - libstfl-dev

compiler:
  - gcc-4.9

script:
  - virtualenv -p /usr/bin/python3 venv
  - . venv/bin/activate
  - pip install -U meson
  - make MESON=meson.py MESONCONF=mesonconf.py

notifications:
  email: false
