* {
  font-family: "TexGyreHeros";
}

window {
  background: white;
}

button,
button:active,
button:hover,
button:disabled {
  font-style: italic;
  font-weight: bold;
  background: black;
  color: white;
  padding: 4px 30px;
  margin: 10px;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.nul-splash-screen * {
  background-color: black;
  color: white;
  font-size: 14px;
}

.nul-logotype {
  font-family: "TexGyreHeros Cn";
  font-size: 64px;
  font-weight: bold;
  font-style: italic;
}

.nul-logotype-small {
  font-size: 24px;
}

.nul-top-bar {
  background-color: black;
  color: white;
  padding: 8px;
}

.nul-top-bar .nul-logotype-small {
  margin-left: 4px;
}

.nul-main-menu button {
  padding: 16px;
}

.nul-main-menu button:active {
  background: #333;
}

.nul-main-menu flowboxchild:nth-child(3n+1) button:hover,
.nul-main-menu flowboxchild:nth-child(3n+1) button:active {
  color: magenta;
}

.nul-main-menu flowboxchild:nth-child(3n+2) button:hover,
.nul-main-menu flowboxchild:nth-child(3n+2) button:active {
  color: yellow;
}

.nul-main-menu flowboxchild:nth-child(3n+0) button:hover,
.nul-main-menu flowboxchild:nth-child(3n+0) button:active {
  color: cyan;
}

.nul-status-box {
  margin: 16px;
  background-color: red;
  transition: background-color 500ms ease-in-out;
}

.nul-status-box.available {
  background-color: lime;
  transition: background-color 500ms ease-in-out;
}
